* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./fondoback/fondov.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.navbar {
    background-color: rgb(54, 36, 77);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.navbar a {
    color:#ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
}

.navbar a:hover{
    background-color: #427f89;
    transition: 0.2s ease-in-out;
}

.posicion {
    position: absolute; 
    text-align: center;
    top: 12%;
    left: 50%;
    width: 800px;
    transform: translate(-50%, -50%);
    background-color: #9ae5eb9d;
    padding: 20px;
    z-index: 2000;
}

.contenedor{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    padding: 20px;
    width: 800px;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 90px auto;
    background-color: #9ae5eb9d;
    font-size: 17px;
    text-align: justify;
}

.continfo {
    border: 1px solid #fff8f8ea;
    border-radius: 15px;
    padding: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.fotos {
    width: 700px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(19, 1, 1, 0.2)
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 600px) {
    body {
      font-size: 16px; /* Tamaño de fuente adecuado para pantallas pequeñas */
    }
    .navbar {
      flex-direction: column; /* Organiza la navegación verticalmente */
      align-items: center;
    }
    .sidebar {
      display: none; /* Oculta la barra lateral en móviles para evitar el desorden */
    }
  } 